*{
    margin: 0;
    padding: 0;
   }
div	{
    margin: 100px;
    padding: 100px;
}
.fondo-claro{
    margin: 10px;
    padding: 20px;
    background-color: rgb(249, 249, 133);
    border: 10px solid; 
    border-color: blueviolet;
}
.fondo-oscuro{
    background-color: rgb(51, 51, 14);
    color: white;
}
.verde-negrita{
    color: rgb(18, 165, 18);
    font-weight: bold;
}
.destacado{
    font-weight: bold;
    font-size: 2em;
}
.pie{
    background-color: rgb(146, 146, 170);
  }
  .fotos{
    max-width:1000px;
  }
  .fotos img{
    width: 100%;
    opacity:0.5;
  }